<div id='date-modal<%="#{assignment.id}"%>' class="modal hide fade">
  <%= form_for(assignment) do |f|%>
    <div class="fields">
      <%= f.label :active_at %>
      <%= f.text_field :active_at %>
    </div>
    <div class="fields">
      <%= f.label :due_at %>
      <%= f.text_field :due_at %>
    </div>
    <div class="actions">
      <%= f.submit "change date" %>
    </div>
  <% end %>
</div>
